body {
  font-size: 0.16rem;
}
html,
body,
.absolute,
article {
  height: 100%;
  overflow: hidden;
}

.absolute div,
.absolute header,
.absolute footer {
  width: 100%;
}

.absolute .top {
  position: absolute;
  top: 0;
  height: 0.8rem;
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  font-size: 0.3rem;
  color: white;
  background: #00aaaa;
  line-height: 0.8rem;
  padding-left: 1rem;
  z-index: 10;
}
.absolute .top span {
  cursor: pointer;
  background-image: -webkit-linear-gradient(
    left,
    #147b96,
    #e6d205 25%,
    #147b96 50%,
    #e6d205 75%,
    #147b96
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
}

.absolute .middle {
  position: absolute;
  height: 100%;
  background: #00ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.absolute .middle .line-1,
.absolute .middle .line-2 {
  font-size: 0.5rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
  margin-top: 0rem;
  background-image: -webkit-linear-gradient(
    left,
    #147b96,
    #e6d205 25%,
    #147b96 50%,
    #e6d205 75%,
    #147b96
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
}
.absolute .middle .line-3 {
  margin-bottom: 0.3rem;
  margin-top: 0rem;
  color: #147b96;
  font-weight: 800;
}

.absolute .bottom {
  position: absolute;
  bottom: 0;
  height: 0.8rem;
  background: #00aaaa;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 0.03rem;
}
.absolute .bottom p {
  color: #cce7f8;
  -webkit-animation: shining 0.5s alternate infinite;
  animation: shining 0.5s alternate infinite;
}
@keyframes shining {
  from {
    text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue,
      0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
  }

  to {
    text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue,
      0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;
  }
}
.middle .button {
  cursor: pointer;
  width: 2rem;
  height: 0.35rem;
  border-radius: 0.05rem;
  color: #147b96;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  font-weight: 800;
  border: 1px solid #147b96;
}
.middle .button:hover {
  background: skyblue;
}
.middle .button:active {
  background: rgb(82, 196, 241);
}
